# DLT テストシナリオ 実行 結果確認

## 1. Scenario Details

![img.png](../../image/dlt-scenario-details.png)

## 2. Test Runs ID

![img.png](../../image/dlt-test-runs.png)

## 3. Test Runs Details

![img.png](../../image/dlt-test-run-details.png)
